<div class="bg-mtg grid min-h-full place-items-center sm:py-32 lg:px-8">
  <div class="text-center p-5">
    <img class="m-auto" src="mtg_title.png" alt="mtg logo" width="1000">
   <p class="mt-6 text-pretty text-lg font-medium text-zinc-600 sm:text-xl/8">Full-stack application for playing Magic the gathering online.</p>
    <div class="mt-10 flex items-center justify-center gap-x-6">
      <!-- <a [routerLink]="['/cards']" class="rounded bg-mtgpink px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-mtgpinkdark">Go to cards</a> -->
    </div>
  </div>
</div>